@import 'common/common';
@import 'common/mixin';

#app {
    padding: 10px;
    position: relative;
}

.m-header {
    @include m-header;
    background-color: #1e82d0;
    .u-title {
        @include u-title;
        width: 78vw;
        margin-left: 11vw;
    }
    .u-notice {
        @include u-notice;
        .ntc-num {
            @include ntc-num;
        }
    }
}

@include m-navbar;

@include m-main;
