@import 'common/common';
@import 'common/mixin';

#app {
    padding: 10px;
    position: relative;
    @include act-bg;
}

.m-header {
    @include m-header;
    .u-title {
        @include u-title;
        width: 78vw;
        margin-left: 11vw;
    }
    .u-notice {
        @include u-notice;
        .ntc-num {
            @include ntc-num;
        }
    }
}

@include m-navbar;

@include m-cards;

.m-cards {
    padding-bottom: 10px;
}

.last {
    margin-top: 2px;
}