@import 'common/common';
@import 'common/mixin';

#app {
    padding: 10px;
    background: #f5f5f5;
    position: relative;
}

.m-header {
    @include m-header;
    background-color: #1e82d0;
    .u-back {
        @include u-back;
    }
    .u-title {
        @include u-title;
        width: 89vw;
        text-indent: -11vw;
    }
}

@include m-navbar;

.m-navbar {
    li {
        width: calc( 100% / 3);
        a {
            img {
                width: 30px!important;
                height: 30px!important;
            }
        }
    }
}

.subnav {
    width: 100vw;
    margin-left: -10px;
    padding-top: 50px;
    background: #fff;
    height: 50px;
    color: #7f7f7f;
    .unit {
        padding-top: 10px;
        width: calc(100% / 3);
        float: left;
        text-align: center;
        height: 50px;
        font-size: 1.2rem;
    }
    .blue {
        color: #1e82d0;
    }
    .bar {
        height: 2px;
        background: #1e82d0;
        width: 65%;
        margin: 6px auto 0;
    }
}

.m-main {
    .u-main {
        width: 100vw;
        margin: 10px 0 0 -10px;
        background-color: #fff;
        .scal-s {
            width: 100vw;
            height: 10px;
            background-color: #f5f5f5;
        }
        .unit {
            .header {
                height: 40px;
                border-bottom: 1px solid #e2e2e2;
                .title {
                    padding-left: 20px;
                    float: left;
                    width: 70%;
                    height: 100%;
                    line-height: 40px;
                    font-size: 1.6rem;
                    font-weight: bold;
                    color: #1c1c1c;
                }
                .tt-x {
                    font-size: 1.4rem;
                }
                .tt-w {
                    width: calc(70% - 31px);
                }
                .bar {
                    float: left;
                    width: 1px;
                    height: 30px;
                    margin-top: 5px;
                    background-color: #e2e2e2;
                }
                .triger {
                    float: right;
                    width: calc(30% - 31px);
                    background: url("../image/macroresult/more.png") no-repeat right 50%;
                    background-size: 10px;
                    text-indent: 20px;
                    margin-right: 10px;
                    line-height: 41px;
                    font-size: 1.4rem;
                    color: #7f7f7f;
                }
                .tr-w {
                    width: 30%;
                    text-indent: 5px;
                }
            }
            .content {
                background-color: #fff;
                width: 100vw;
                height: 500px;
                padding-bottom: 71px;
            }
            .content-s {
                background-color: #fff;
                width: 100vw;
                height: 300px;
            }
            .pd-s {
                padding-bottom: 71px;
            }
            .select {
                width: 100vw;
                border-bottom: 1px solid #e2e2e2;
                height: 30px;
                font-size: 1.4rem;
                color: #7f7f7f;
                line-height: 30px;
                .name {
                    float: left;
                    width: 70%;
                    padding-left: 20px;
                }
                .bar-s {
                    width: 1px;
                    height: 20px;
                    margin-top: 5px;
                    float: left;
                    background-color: #e2e2e2;
                }
                .triger {
                    float: right;
                    width: calc(30% - 31px);
                    background: url("../image/macroresult/more.png") no-repeat right 50%;
                    background-size: 10%;
                    text-indent: 20px;
                    margin-right: 10px;
                }
            }
        }
    }
}

.show {
    display: block;
}

.hide {
    display: none;
}

@media screen and (max-width: 370px) {
    .m-main {
        .u-main {
            .unit {
                .header {
                    .title {
                        font-size: 1.2rem;
                    }
                    .triger {
                        background: url("../image/macroresult/more.png") no-repeat right 50%;
                        background-size: 6px;
                        text-indent: 12px;
                        font-size: 1.2rem;
                    }
                    .tr-w {
                        text-indent: 4px;
                    }
                }
                .select {
                font-size: 1.2rem;
                color: #7f7f7f;
                line-height: 30px;
                .name {
                    float: left;
                    width: 70%;
                    padding-left: 20px;
                }
                .bar-s {
                    width: 1px;
                    height: 20px;
                    margin-top: 5px;
                    float: left;
                    background-color: #e2e2e2;
                }
                .triger {
                    float: right;
                    width: calc(30% - 31px);
                    background: url("../image/macroresult/more.png") no-repeat right 50%;
                    background-size: 10%;
                    text-indent: 20px;
                    margin-right: 10px;
                }
            }
        }
    }
}

}