@import 'common/common';
@import 'common/mixin';

#app {
    padding: 10px;
    position: relative;
}

.m-header {
    @include m-header;
    background-color: #1e82d0;
    .u-back {
        @include u-back;
    }
    .u-title {
        @include u-title;
        width: 89vw;
        text-indent: -11vw;
    }
}

@include m-navbar;

.m-navbar {
    li {
        width: 50%;
        height: 100%;
        a img {
            width: 32px;
            height: 32px;
        }
    }
}

#map {
    margin: 50px 0 0 -10px;
    width: 100vw;
    height: calc(100vh - 131px);
    .maker {
		width: 70px;
		height: 60px;
		border-radius: 50%;
		background: rgba(255, 0, 0, .4);
		text-align: center;
		font-size: 12px;
		color: #fff;
		padding: 10px 5px;
    }
}